@media all and (max-width: 800px) {
  /** todo **/
  .all-contest-entries {
    display: none;
  }
  .page-dashboard {
    padding: 5vh 0;
  }
  .top-search {
    margin-top: 15vh;
  }
  .nav-header-left__links,
  .sign-in__judles {
    display: none;
  }
  .sign-up-form,
  .sign-in-form {
    width: 85%;
  }
  .nav-header__base_menu {
    max-width: 75px;
    align-items: center;
  }
  .top-bar-sign__items {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .nav-header__base_menu__item > a,
  .top-bar-user__items_item > a,
  .top-bar-sign__items_item > a {
    font-size: 12px;
  }
  .site-logo__wrapper {
    left: 10vh;
  }
  .language-switcher {
    margin-top: 0 !important;
    position: relative;
    top: 1.6vh;
  }
  button.btn-submit-photo {
    padding: 2%;
  }
  .contest-details-info__card-top {
    flex-direction: column;
  }
  .contest-details-info__additions {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .sign-in__judles-container {
    max-width: 80%;
    flex-direction: row;
  }
  .contest-submittion {
    min-width: 100%;
  }
  .contest-stroke-info__item {
    margin: 0;
  }
  .btn-tab-item,
  .btn-submit-photo,
  .btn-apply-photo {
    padding: 1vh;
  }
  .gallery-picture {
    min-width: 100%;
    margin: 2vh 0;
  }
  .page-dashboard__container_top {
    padding-left: 15vh;
  }
  .contest-submittion__photo > img {
    width: 68%;
  }
  /** pages **/
  .page-articles .article-preview {
    min-width: 90%;
  }
  .page-articles .article-preview .article-preview__avatar {
    max-width: auto;
  }
  .page-sign {
    flex-direction: column;
  }
  .page-sign .sign-in-using {
    width: 100%;
    text-align: center;
  }
  .page-sign .sign-in__judles {
    min-width: 100%;
  }
  .all-contests__category {
    flex: 100%;
  }
  .all-contests__category-name {
    width: 100%;
  }
  .all-contests .category-contest {
    margin: 1vh auto;
  }
}

@media all and (max-width: 1080px) {
  .snow-gif {
    display: none;
  }
  .page-dashboard__container_top > div:nth-child(1) > p:nth-child(1) {
    font-size: 34px;
  }
  .page-dashboard__container_top > div:nth-child(1) > p:nth-child(2) {
    font-size: 22px;
  }
  .page-sign {
    flex-direction: column;
  }
  .sign-in-using {
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
  }
  .sign-in__judles {
    margin-left: 10vh;
  }
  .sign-in-form__container .sign-in__title,
  .sign-in-using .sign-in__title {
    font-size: 28px;
  }
  .contest-details-info__card-top {
    flex-direction: column;
  }
  .contest-details-info__additions {
    margin-left: 0;
    margin-top: 2.5vh;
  }
  .contest-info-container {
    min-height: 120px;
  }
}
