/** WorldwidePhotography styles **/

/** color template **/
/** 
    orange #F47D14AA
    fucsia #E1315B
    lime #FFEC5C
    blue-jam #008DCB
**/
/** top styles **/
.site-logo {
  position: absolute;
  left: 10px;
  top: 24px;
  width: 150px;
  height: 60px;
  background-color: #ffec5c;
  background: url(http://localhost:3000/assets/images/logo.png) no-repeat center;
  background-size: 60%;
}

.top-search {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 8vh;
}

.top-search > input {
  max-width: 80%;
  height: 40px;
  margin-left: 1.2vh;
  margin-top: 0.5vh;
}

.nav-header-base-menu {
  display: flex;
  margin-left: 200px;
}

.top-menu {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}

.sign-top-menu {
  display: flex;
  width: 300px;
  margin-left: 1.2vh;
  margin-right: 3.8vh;
}

.top-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 300px;
  z-index: 1;
  right: 0;
  top: 0;
  min-height: 200px;
  background-color: #ffffff;
}

.owl-slider {
  position: relative;
}

.owl-slider-item {
  width: 100%;
  display: none;
}

/** contest items & slider **/
.contest-items {
  display: flex;
}

.contest-items .contest-item {
  text-align: center;
  margin: auto;
  max-width: 80%;
}

.page-contest-details,
.page-judle-classes,
.page-articles {
}

.page-contest-details h1,
.page-judle-classes h1 {
  max-width: 600px;
}

.contest-item-card-body {
  /* border-radius: 20px; */
  background-color: #e1e1e1;
  padding: 0.4em 0.8em;
}

.contest-item-card-body > .contest-name {
  font-size: 20px;
  color: #fffff0;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px #acacac;
}

.contest-item-card-body > .contest-description {
  margin-top: 0.8vh;
  margin-bottom: 0.8vh;
  font-weight: 800;
  font-size: 15px;
  color: #fffff0;
}

.contest-item-card-header {
  padding: 3.8em 0;
  background-color: teal;
  color: #ffffff;
  background-position: 0 10%;
}

.contest-status {
  position: absolute;
  top: 32px;
  left: 38px;
  padding: 0.4em 0.8em;
  border-radius: 20px;
  box-shadow: 1px 2px 1px #000000;
}

.contest-status.coming {
  background-color: #ff0d4b;
}

.contest-status.active {
  background-color: #ffec5c;
  color: #008dcb;
}

.contest-details > img {
  height: 140px;
}

.owl-controls {
  text-align: center;
  position: relative;
  top: 0.8vh;
}

.owl-control {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  color: #ffec5c;
  margin: 0.2em;
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s background-color;
}

.owl-control:hover {
  background-color: #fffff7;
}

.owl-control.owl-control-prev::before {
  content: "<";
}

.owl-control.owl-control-next::before {
  content: ">";
}

.owl-slider-images {
  position: absolute;
  display: flex;
  width: 100%;
  height: 90%;
  top: 0;
  z-index: 1;
  opacity: 0.5;
}

.owl-slider-images > img {
  width: 33%;
  margin: 0.2%;
}

.owl-slider-item-frame {
  width: 100%;
  padding: 8em 0;
  min-height: 320px;
  background-color: transparent;
}

.owl-slider-item.selected {
  display: flex;
  align-items: center;
}

.owl-slider-item-text {
  color: #ffffff;
  font-size: 60px;
  max-width: 600px;
  margin: auto;
  font-size: 40px;
  font-weight: 800;
}

.owl-slider-items-container {
  display: flex;
}

.owl-slider-items-container > div {
  width: 100%;
}

.sign-top-menu-link,
.nav-header-link {
  width: 120px;
  height: 50px;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff0f4;
  color: #008dcb;
  margin-left: 0.8em;
  text-transform: uppercase;
  border-radius: 15px;
  box-shadow: 0 2px 4px #000000;
  transition: 0.6s background-color;
}

.sign-top-menu-link:hover,
.nav-header-link:hover {
  background-color: #ffffff;
}

.sign-top-menu-link.active,
.nav-header-link.active {
  color: #e1315b;
}

.top-menu-item {
  padding: 1.4vh 1.8vh;
  box-shadow: 0 2px 4px #000000;
}

.top-menu-item > a {
  font-weight: 800;
  color: #e1315b;
}

.nav-header {
  min-height: 80px;
  background-color: #e1315b;
  width: 100%;
  padding-top: 1.6em;
  padding-bottom: 0.4em;
  display: inline-grid;
  grid-template-rows: repeat(1, 78px);
  grid-template-columns: repeat(2, 50%);
}

.nav-header-right-links {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.sign-up-form,
.sign-in-form {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: #ffefd8;
  border-radius: 20px;
  margin: auto;
  margin-top: 1.5vh;
}

.sign-in-form {
  padding: 8vh;
  padding-top: 3.5vh;
}

.sign-up-form {
  padding: 3.5vh;
}

.sign-up-form .common-checkbox-box {
  margin-top: 0.5vh;
}

.sign-up-form-container,
.sign-in-form-container {
  text-align: center;
}

.sign-up-form > button,
.sign-in-form > button {
  margin-top: 2vh;
}

.sign-up-link,
.sign-in-link {
  max-width: 80%;
  margin: auto;
  margin-top: 1.5vh;
}

.sign-in-text {
  font-size: 40px;
  font-weight: 800;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.contest-details {
  position: relative;
  margin-top: 180px;
  background-color: whitesmoke;
}

.contest-details .contest-info-block {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 80px;
}

.contest-details-info-body {
  width: 100%;
}

.contest-info-block p {
  font-size: 28px;
  color: #ffffff;
  font-weight: 600;
}

.prizes-line {
  display: flex;
  flex-direction: row;
  margin: 10px 18px;
  justify-content: space-between;
}

.prizes-line .prize-item a {
  color: #e1315b;
}

.prizes-line .prize-item {
  padding: 10px 20px;
  text-align: center;
}

.prizes-line .prize-item > .prize-image {
  max-width: 80px;
  margin: auto;
  cursor: pointer;
  transition: 0.5s opacity;
  margin-top: 1vh;
}

.prizes-line .prize-item > .prize-image:hover {
  opacity: 0.4;
}

.prize-name > span {
  font-size: 18px;
  font-weight: 800;
}

.gallery-picture {
  transition: 0.5s filter;
  cursor: pointer;
}

.articles {
  display: flex;
}

.article-preview:first-child {
  margin-left: 0;
}

.article-preview {
  display: flex;
  flex-direction: column;
  margin-left: 4vh;
  padding: 2.5vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
  background-color: whitesmoke;
  width: 30%;
  cursor: pointer;
}

.article-preview .description {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  background-color: #ffec5c;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-top: 2vh;
}

.article-preview .addition-info {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.article-preview .title {
  font-size: 18px;
  font-weight: 800;
}

.prize-contest-name {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}

.prize-contest-name > span:nth-child(2) {
  font-style: italic;
}

.prize-contest-link {
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  top: 0.5vh;
}

.contest-name {
  overflow: hidden;
}

.contest-name .original {
  text-transform: uppercase;
  font-size: 16px;
}

.contest-categories-nav {
  position: relative;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  background-color: #ffec5c;
  width: 100%;
}

.contest-categories-nav-links {
  display: flex;
  justify-content: center;
}

.contest-categories-nav-links > .nav-link-container {
  margin-left: 1.5vh;
}

.contest-categories-nav-links > .nav-link-container:nth-child(4) {
  position: relative;
  top: 0.2vh;
}

.contest-categories-items {
  position: absolute;
  background-color: #fffff0;
  box-shadow: 1px 2px 1px #000000;
  z-index: 10;
  top: 48px;
  display: flex;
  padding: 1vh;
  width: 50%;
  left: 25%;
  flex-wrap: wrap;
  margin: auto;
}

.contest-categories-items > .nav-link-container {
  width: 25%;
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
}

.contest-categories-items .nav-link {
  color: #6eaabd;
  margin-top: 0.5vh;
}

.contest-categories-nav-links .nav-link {
  color: #e1315b;
  margin-top: -0.5vh;
}

.nav-link {
  font-weight: 800;
  transition: 0.6s color;
}

.nav-link:hover {
  color: #fffff0;
}

.page-dashboard {
  background: url(http://localhost:3000/assets/images/pane2.jpg);
  padding-bottom: 0.8vh;
}

.page-sign {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding-top: 10vh;
}

.page-sign .btn-link {
  font-weight: 800;
}

.sign-in-selector {
  font-weight: 800;
  font-size: 18px;
}

.sign-in-selector.facebook:hover,
.sign-in-selector.google:hover {
  color: whitesmoke;
}

.sign-in-selector.facebook {
  color: #5970ff;
  transition: 0.5s color;
}

.sign-in-selector.google {
  color: #ff0d4b;
  transition: 0.5s color;
}

.sign-in-judles-area {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  margin-top: 1.8vh;
}

.sign-in-judles {
  display: flex;
}

.sign-in-judle {
  display: flex;
  flex-direction: column;
}

.sign-in-judle > span {
  margin-top: 0.8vh;
}

.sign-in-judle-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/** contest details **/
.contest-details-info-card {
  display: flex;
  flex-direction: column;
}

.contest-details-info {
  position: relative;
}

.contest-details-info-top {
  display: flex;
  justify-content: space-between;
}

.contest-details-contest-avatar {
  width: 100%;
  margin: 0.2vh;
  max-height: 280px;
}

.contest-details-info-card {
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
  top: -10vh;
  padding: 5vh;
  width: 80%;
  left: 10%;
}

/** judle videos **/
.judle-videos-line {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.judle-videos-line > .judle-video {
  width: 60%;
  margin: auto;
}

.judle-videos-text,
.articles-text,
.gallery-text {
  font-size: 32px;
}

.class-video-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.class-video-tags {
  display: flex;
  margin-top: 10px;
}

.class-video-name {
  font-size: 22px;
  font-weight: 800;
}

.class-video-tags > .video-tag {
  margin: 4px;
}

.class-video {
  width: 80%;
  margin-top: 20px;
  border-radius: 20px;
}

.video-tags {
  margin-top: 50px;
}

.video-tags .class-video-tags {
  margin-left: -2.5px;
}

.simple-border {
  border-radius: 20px;
}

.expander-tab {
  width: 100%;
}

.expander-content {
  text-align: left;
}

/** privacy **/
.privacy-and-conditions-page {
  font-size: 20px;
  text-align: justify;
  padding: 2.8vh;
  color: #616161;
}

/** gallery **/
.gallery-pictures {
  display: flex;
  flex-wrap: wrap;
}

.gallery-pictures > .gallery-picture {
  margin: 1vh;
}

.gallery-pictures > .gallery-picture > img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.gallery-picture {
  position: relative;
}

.gallery-picture:hover {
  filter: opacity(0.9);
  box-shadow: 0.05vh 0.05vh 0.05vh #000000;
}

.gallery-photo-impressions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: 1vh;
  position: absolute;
  bottom: 2.5vh;
  left: 2.5vh;
}

.gallery-photo-impressions .impressions-count {
  margin-top: 0.25vh;
  margin-left: 0.5vh;
}

.contest-details-info-additions {
  width: 50%;
}

.top-line {
  padding: 2vh 0;
  margin-bottom: 0.5vh;
  background-color: #ffec5c;
}

.page-contest-category > h1 {
  margin: 2.5vh;
}

.info-all-contest-entries {
  margin-top: 5vh;
}

.info-all-contest-entries > span {
  font-size: 22px;
  font-weight: 600;
}

.other-opended-contests,
.contest-social-sharing {
  margin-top: 5vh;
  font-size: 18px;
}

.other-opended-contests > a {
  color: #e1315b;
}

.other-opended-contests > a:hover {
  color: #008dcb;
}

.social-sharing-buttons span {
  color: #5970ff;
}

.contest-social-sharing span {
  margin: 0.5vh;
  margin-left: 0;
}

.contest-announcements {
  display: flex;
  flex-direction: column;
}

.contest-announcements .contest-announcement {
  /* margin-left: 1.5vh; */
  margin-top: 1vh;
}

.contest-news h4 {
  font-size: 16px;
}

.close-modal-btn {
  width: 28px;
  height: 28px;
  border: none;
  outline: none;
  background: url(http://localhost:3000/assets/images/baseline_close_black_18dp.png)
    no-repeat center;
  background-size: 80%;
  position: absolute;
  top: 40px;
  left: 40px;
  cursor: pointer;
  transition: 0.5s background-color;
}

.close-modal-btn:hover {
  background-color: #e1315b;
}

.submit-contest-modal {
  width: 99%;
  height: 99%;
  text-align: center;
  padding-top: 2%;
  background-color: #fffff0;
}

.submit-contest-modal .submit-photo-form {
  width: 40%;
  margin: auto;
  position: relative;
}

.select-photo-area {
  margin-top: 2vh;
}

.page-contest-details .social-sharing-buttons {
  margin-top: 2.5vh;
  font-size: 12px;
}

.page-contest-details .social-sharing-buttons > span {
  margin: 1vh;
}

.submit-photo-btn {
  margin-top: 1vh;
}

.page-not-found {
  padding: 10vh;
  text-align: center;
}

.page-not-found p {
  font-size: 38px;
}

.language-switcher {
  position: absolute;
  right: 0;
  top: 80px;
}

.language-switcher > button {
  border: 0.2vh solid #ffffff;
  background-color: transparent;
  margin: 0.2vh;
  padding: 0.5vh;
  cursor: pointer;
  text-align: center;
}

.language-switcher > button:hover {
  background-color: #ffffff;
}

.common-select-dropdown-options {
  margin-top: 0.5vh;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 48px;
  z-index: 10;
}

.common-select-dropdown-options > input {
  padding: 1vh 1.5vh;
  width: 280px;
  height: 42px;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 1px 2px 1px #6eaabd;
  transition: 0.5s background-color;
}

.submit-photo-container {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: auto;
}

.submit-photo-container > span {
  font-size: 18px;
  align-self: center;
  margin-top: -0.6vh;
}

.contest-submittions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contest-submittions .contest-photo > img {
  width: 40%;
  margin-top: 0.5vh;
}

.contest-submittions .contest-submittion {
  width: 33%;
  margin-top: 0.5vh;
  display: flex;
  cursor: pointer;
}

.contest-submittions .contest-submittion > img {
  width: 100%;
  margin: auto;
}

.contest-submittions .contest-submittion > img:hover {
  transform: rotateY(-20deg);
  width: 90%;
  -webkit-transition: transform 2s;
  transition: transform 2s;
}

.contest-submittion-resize > img {
  position: absolute;
  bottom: 0;
}

.contest-stroke-info-piece {
  display: flex;
}

.contest-stroke-info-piece > p {
  margin: 0.5vh 2vh;
}

.gallery-pictures .gallery-picture > img:hover {
  transform: rotateY(-20deg);
  -webkit-transition: transform 2s;
  transition: transform 2s;
}

.last-uploaded-image {
  position: absolute;
  text-transform: uppercase;
  font-style: italic;
  font-size: 12px;
}

.common-select-dropdown-box > .common-select-btn > img {
  position: relative;
  top: 12px;
  transform: rotateZ(180deg);
}

.common-select-dropdown-box > .common-select-btn.active > img {
  transform: rotateZ(0);
}

.common-select-dropdown-box {
  position: relative;
}

.input-upload-container {
  width: 20vh;
  position: relative;
  margin: 1.5vh 0;
  border: 0.3vh solid #008dcb;
  border-radius: 20px;
  transition: 0.6s background-color;
  min-height: 56px;
}

.input-upload-container:hover {
  background-color: #e1315b;
}

.input-upload-container > img {
  position: relative;
  top: 12px;
}

.input-upload-container > input {
  position: absolute;
  z-index: 1;
  left: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}

.no-logged-in-message {
  color: #e1315b;
  position: relative;
  top: -10px;
}

.photo-details {
  margin-top: 5vh;
}

.complete-photo-upload {
  margin-top: 2vh;
}
