/** WorldwidePhotography styles **/

/** colors template **/
/** 
    orange #F47D14AA
    fucsia #E1315B
    lime #FFEC5C
    blue-jam #008DCB
**/
/** top styles **/
i,
button {
  outline: none;
  cursor: pointer;
}

.sign-up-details .notification-message {
  margin-bottom: 5vh;
}

.top-search {
  display: flex;
  flex-direction: row-reverse;
  margin: 5vh 8vh;
}

.top-search__input {
  max-height: 40px;
  margin: 0.25vh 0 0 1vh;
  font-size: 18px;
  outline: none;
}

.top-search__input:hover {
  height: 38px;
  border: 1px solid #ff7c0f;
}

.top-bar-user__items {
  display: flex;
  position: absolute;
  z-index: 1;
}

.top-bar-sign__items {
  display: flex;
  border-radius: 40px;
  border: 1px solid #707070;
  box-shadow: 0 3px 6px #707070;
  max-height: 92px;
  padding: 0 2vh;
  margin-top: 2.8vh;
}

.bottom-input__ref {
  position: relative;
  margin-top: 20vh;
}

.page-dashboard .owl-slider {
  position: relative;
}

.owl-slider-item {
  width: 100%;
  display: none;
}

/** contest items & slider **/
.contest-items {
  display: flex;
}

.contest-items .contest-item {
  text-align: center;
  margin: auto;
  max-width: 80%;
}

.page-contest-details,
.page-judle-classes {
  padding: 2%;
}

.page-contest-details {
  background-color: whitesmoke;
}

.page-contest-details h1,
.page-judle-classes h1 {
  max-width: 600px;
}

.page-gallery > .page-title,
.page-articles > .page-title,
.page-all-contests > .page-title {
  font-size: 36px;
  font-weight: 800;
  padding: 18px;
}

.all-contests .contest-category {
  margin: 0 2vh;
}

.all-contests .contest-details {
  margin: 2.5vh 0;
}

.all-contests .contest-details {
  position: absolute;
  top: 0;
  z-index: 1;
}

.contest-details > .contest-details-image {
  width: 100%;
  max-height: 40vh;
  object-fit: cover;
}

.contest-category-name {
  font-size: 18px;
  padding: 2rem 0;
  letter-spacing: 1px;
}

.contest-item__card {
  box-shadow: 0 3px 6px #707070;
}

.contest-item__card_body {
  padding: 2vh 0;
}

.contest-item__card_body > .contest-name {
  font-size: 22px;
  color: #707070;
  text-transform: uppercase;
}

.contest-item__card_body > .contest-description {
  margin: 1vh 0;
  padding: 0 4vh;
  font-weight: 600;
  font-size: 16px;
  color: teal;
  text-align: justify;
}

.contest-item__card_header {
  padding: 6vh 0;
  background-color: teal;
  color: #ffffff;
  background-position: 0 10%;
}

.contest-status {
  position: absolute;
  top: 32px;
  left: 38px;
  padding: 0.4em 0.8em;
  box-shadow: 0 3px 6px #707070;
}

.contest-status.starts-soon {
  background-color: #ff0d4b;
}

.contest-status.happens-now {
  background-color: #ffec5c;
  color: #008dcb;
}

.owl-controls {
  text-align: center;
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.owl-control {
  width: 40px;
  height: 40px;
  border: none;
  margin: 0.2vh;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  transition: 0.5s background-color;
}

.owl-control:hover {
  background-color: #e1315b;
}

.owl-control.owl-control-prev {
  background-image: url(/assets/images/arrow-left.svg);
}

.owl-control.owl-control-next {
  background-image: url(/assets/images/arrow-right.svg);
}

.owl-slider-images {
  position: absolute;
  display: flex;
  width: 100%;
  height: 90%;
  top: 0;
  z-index: -1;
  opacity: 0.8;
}

.owl-slider-images > img {
  width: 33%;
  margin: 0.2%;
}

.owl-slider-item-frame {
  width: 100%;
  padding: 8em 0;
  min-height: 320px;
  background-color: transparent;
  border: none;
}

.owl-slider-item.selected {
  display: flex;
  align-items: center;
}

.owl-slider-item-text {
  color: #ffffff;
  font-size: 60px;
  max-width: 600px;
  margin: auto;
  font-size: 40px;
  font-weight: 800;
}

.owl-slider-items-container {
  display: flex;
}

.owl-slider-items-container > div {
  width: 100%;
}

.nav-header__link {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 44px;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff0f4;
  color: #008dcb;
  margin-left: 0.8em;
  text-transform: uppercase;
  border-radius: 15px;
  box-shadow: 0 3px 6px #707070;
  transition: 0.6s background-color;
}

.nav-header-left__links {
  position: absolute;
  left: 2vh;
  top: 10vh;
  z-index: 1;
}

.nav-header__base_menu,
.top-bar-user__items {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  border: 1px solid #707070;
  box-shadow: 0 3px 6px #707070;
  padding: 6vh 0 2vh 0;
  background-color: #ffffff;
}

.nav-header__base_menu > li,
.top-bar-user__items_item,
.top-bar-sign__items_item {
  position: relative;
  right: 2.5vh;
  width: 136px;
  transform: rotateZ(90deg);
  margin: 45px 0;
  padding: 2.5vh 0;
  text-align: center;
  box-shadow: 0 3px 6px #707070;
  cursor: pointer;
  transition: 0.8s background-color;
}

.top-bar-sign__items_item > a {
  top: 2.5vh;
}

.top-bar-user__items_item,
.top-bar-sign__items_item {
  transform: rotateZ(0);
  padding: 0 0.8vh;
  margin: 1.8vh 0.8vh;
  max-height: 60px;
}

.top-bar-sign__items_item {
  right: 0 !important;
}

.top-bar-sign__items_item:hover,
.nav-header__base_menu > li:hover {
  background-color: #833c00;
}

.top-bar-sign__items_item:hover > a,
.nav-header__base_menu > li:hover > a {
  color: #ffffff;
}

.nav-header__base_menu__item,
.top-bar-user__items_item > a,
.top-bar-sign__items_item > a {
  color: #833c00;
  font-weight: 600;
  position: relative;
}

.nav-header-right__links {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.2vh;
}

.sign-up-form,
.sign-in-form {
  display: flex;
  flex-direction: column;
  background-color: #ffefd8;
  border-radius: 20px;
  padding: 2.5vh;
}

.sign-in-form > .form-field,
.sign-up-form > .form-field {
  width: 80%;
}

.sign-in-form .common-checkbox-label {
  position: relative;
  top: 5vh;
}

.sign-up-form-container,
.sign-in-form-container {
  text-align: center;
  width: 45%;
}

.sign-up-form > button,
.sign-in-form > button {
  margin-top: 2vh;
}

.sign-up-link,
.sign-in-link {
  max-width: 80%;
  margin: auto;
  margin-top: 1.5vh;
}

.sign-in-text,
.sign-up-text {
  font-size: 40px;
  font-weight: 800;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.contest-details {
  position: relative;
}

.contest-details .contest-details-preview {
  position: absolute;
  top: 10vh;
  width: 100%;
  text-align: center;
  padding: 2.5vh 0;
}

.contest-info-container .contest-details-section {
  display: flex;
  flex-direction: column;
}

.contest-info-container .contest-details-section > span:nth-child(1) {
  font-weight: 800;
}

.contest-details-info-top-body {
  width: 100%;
}

.contest-details-preview p {
  font-size: 34px;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

.nav-link-container {
  text-align: center;
}

.prizes-items {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  justify-content: space-between;
}

.prizes-items .prize-item a {
  color: #e1315b;
}

.prizes-items .prize-item {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prizes-items .nav-link {
  color: #000000;
}

.prizes-items .prize-item .prize-item__image {
  width: 36px;
  margin: auto;
  cursor: pointer;
  transition: 0.5s opacity;
  margin-top: 1vh;
}

.prizes-items .prize-item > .prize-item__image:hover {
  opacity: 0.4;
}

.prize-item__heading {
  display: flex;
}

.prize-name {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
  top: 8px;
  right: 10px;
}

.prize-icon {
  background-image: url(/assets/icons/camera-black-icon.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 100%;
}

.articles-line {
  position: relative;
  margin: 1vh 2vh;
}

.no-section-content {
  margin: 1vh 2vh;
}

.page-profile {
  padding: 1vh 2vh;
}

.page-profile-update-form {
  max-width: 50%;
}

.page-profile-update-form .btn-submit {
  padding: 1.2vh 0;
}

.form-field.update-profile-form-field {
  display: flex;
  flex-direction: column;
}

.form-field.update-profile-form-field .common-input {
  padding: 1vh 2vh;
}

.article-preview:first-child {
  margin-left: 0;
}

.article-preview {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  padding: 2.8em;
  width: 30%;
  cursor: pointer;
}

.article-preview:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 400px;
  height: 100%;
  opacity: 0.2;
  background-image: url(/assets/images/pane1.png);
}

.article-preview .addition-info {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.article-preview .title {
  font-size: 20px;
  font-weight: 800;
}

.prize-contest-name {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.prize-contest-name > span:nth-child(2) {
  font-style: italic;
}

.prize-contest-link {
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  top: 0.5vh;
}

.contest-name {
  overflow: hidden;
}

.contest-name .original {
  text-transform: uppercase;
  font-size: 16px;
}

.site-logo {
  width: 145px;
  height: 102px;
  position: absolute;
  left: 26vh;
  z-index: 2;
}

.contest-categories__nav {
  position: absolute;
  top: 5vh;
  left: 20vh;
}

.contest-categories__nav_links {
  display: flex;
  justify-content: center;
}

.contest-categories__nav_link {
  margin: 0 2vh;
}

.contest-categories__nav_link > a {
  font-size: 20px;
  color: #833c00;
  font-weight: 600;
}

.contest-categories__nav_link > a:hover {
  color: #e1315b;
}

.nav-link {
  font-weight: 800;
  transition: 0.6s color;
}

.nav-link:hover {
  color: #fffff0;
}

.page-dashboard {
  padding-bottom: 2vh;
}

.page-sign {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding-top: 10vh;
}

.page-sign .btn-link {
  font-weight: 800;
}

.sign-in-selector {
  font-weight: 800;
  font-size: 18px;
}

.sign-in-selector.facebook:hover,
.sign-in-selector.google:hover {
  color: whitesmoke;
}

.sign-in-selector.facebook {
  color: #5970ff;
  transition: 0.5s color;
}

.sign-in-selector.google {
  color: #ff0d4b;
  transition: 0.5s color;
}

.sign-in-judles-area {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  margin-top: 1.8vh;
}

.sign-in-judles {
  display: flex;
}

.sign-in-judle {
  display: flex;
  flex-direction: column;
}

.sign-in-judle > span {
  margin-top: 0.8vh;
}

.sign-in-judle-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/** contest details **/
.contest-details-info {
  position: relative;
}

.contest-details-info-top {
  display: flex;
  justify-content: space-between;
}

.contest-details-contest-avatar {
  width: 100%;
  margin: 0.2vh;
  max-height: 280px;
}

.contest-details-info-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  top: -5vh;
  padding: 2%;
  width: 80%;
  left: 8%;
  min-height: 45vh;
}

/** judle videos **/
.judle-videos-line {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.judle-videos-line > .judle-video {
  width: 60%;
  margin: auto;
}

.judle-videos-text,
.articles-text,
.gallery-text {
  font-size: 32px;
}

.class-video-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.class-video-tags {
  display: flex;
  margin-top: 10px;
}

.class-video-name {
  font-size: 22px;
  font-weight: 800;
}

.class-video-tags > .video-tag {
  margin: 4px;
}

.class-video {
  width: 80%;
  margin-top: 20px;
  border-radius: 20px;
}

.video-tags {
  margin-top: 50px;
}

.video-tags .class-video-tags {
  margin-left: -2.5px;
}

.simple-border {
  border-radius: 20px;
}

.expander-tab {
  width: 100%;
}

.expander-content {
  text-align: left;
}

/** privacy **/
.privacy-and-conditions-page {
  font-size: 20px;
  text-align: justify;
  padding: 2vh 1.5vh 8vh 1.5vh;
  color: #616161;
}

/** gallery **/
.gallery-pictures {
  display: flex;
  flex-wrap: wrap;
}

.gallery-pictures > .gallery-picture {
  margin: 2.5%;
  transition: 0.5s filter;
  cursor: pointer;
}

.gallery-pictures > .gallery-picture > img {
  width: auto;
  max-height: 250px;
  object-fit: contain;
}

.gallery-picture:hover {
  filter: opacity(0.9);
  box-shadow: 0.05vh 0.05vh 0.05vh #000000;
}

.gallery-photo-impressions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: 1vh;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.gallery-photo-impressions .impressions-count {
  position: relative;
  top: 1px;
  left: 2px;
  font-size: 18px;
  font-weight: 800;
  color: #fff0f4;
}

.contest-details-info-additions {
  width: 50%;
}

.top-line {
  padding: 2% 0;
  margin-bottom: 0.5vh;
  background-color: #ffec5c;
}

.page-contest-category > h1 {
  margin: 2.5vh;
}

.all-contest-entries {
  margin-top: 5vh;
}

.all-contest-entries > span {
  font-size: 22px;
  font-weight: 600;
}

.link-to-other-contests,
.contest-social-sharing {
  margin-top: 5vh;
  font-size: 18px;
}

.link-to-other-contests {
  font-size: 20px;
}

.link-to-other-contests > a {
  color: #e1315b;
}

.link-to-other-contests > a:hover {
  color: #008dcb;
}

.social-sharing-buttons span {
  color: #5970ff;
}

.contest-social-sharing span {
  margin: 1em;
  margin-left: 0;
}

.contest-announcements {
  display: flex;
  flex-direction: column;
}

.contest-announcements .contest-announcement {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
}

.contest-announcement__title {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.contest-news h4 {
  font-size: 16px;
}

.close-modal-btn {
  width: 28px;
  height: 28px;
  border: none;
  outline: none;
  background: url(/assets/icons/baseline_close_black_18dp.png) no-repeat center;
  background-size: 80%;
  position: absolute;
  top: 40px;
  left: 40px;
  cursor: pointer;
  transition: 0.5s background-color;
}

.close-modal-btn:hover {
  background-color: #e1315b;
}

.submit-contest-modal {
  width: 99%;
  height: 99%;
  text-align: center;
  padding-top: 2%;
  background-color: #fffff0;
}

.submit-contest-modal .submit-photo-form {
  width: 40%;
  margin: auto;
  position: relative;
}

.select-photo-area {
  margin-top: 2vh;
}

.page-contest-details .social-sharing-buttons {
  margin-top: 2.5vh;
  font-size: 12px;
}

.page-contest-details .social-sharing-buttons > span {
  margin: 1vh;
}

.submit-photo-btn {
  margin-top: 1vh;
}

.page-not-found {
  padding: 10vh;
  text-align: center;
}

.page-not-found p {
  font-size: 38px;
}

.language-switcher {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #833c00;
  margin: auto;
  margin-top: 2vh;
  transition: 0.8s background-color;
}

.language-switcher:hover {
  background-color: #e1315b;
}

.language-switcher__select > button {
  width: 28px;
  height: 28px;
  margin: auto;
  border: none;
}

.language-switcher__active {
  text-align: center;
  margin-top: 2.2vh;
  transition: 0.5s background-color;
  color: #833c00;
  font-weight: 800;
  font-size: 18px;
}

.common-select-dropdown-options {
  max-width: 50%;
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 10;
}

.common-select-dropdown-options > input:hover {
  background-color: #008dcb;
}

.common-select-dropdown-options > input {
  padding: 2% 4%;
  width: 100%;
  height: 42px;
  font-size: 16px;
  box-shadow: 2px 1px 1px 1px #6eaabd;
  transition: 0.5s background-color;
  border: none;
}

.submit-photo-container {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: auto;
}

.submit-photo-container > span {
  font-size: 18px;
  align-self: center;
  margin-top: -0.6vh;
}

.contest-submittions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2.5em;
}

.contest-submittions .contest-photo > img {
  width: 40%;
  margin-bottom: 1em;
}

.contest-submittions .contest-submittion {
  position: relative;
  width: 33%;
  max-height: 300px;
  padding-bottom: 2em;
  display: flex;
  cursor: pointer;
}

.contest-submittions .contest-submittion > img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.contest-submittions .contest-submittion .common-icon {
  right: 0;
}

.contest-submittion-resize > img {
  position: absolute;
  bottom: 0;
}

.photo-details-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  height: 100%;
  z-index: 10;
}

.photo-details-frame img {
  height: 80%;
}

.contest-stroke-info-piece {
  display: flex;
}

.contest-stroke-info-piece > p {
  margin: 0.5vh 2vh;
}

.gallery-pictures .gallery-picture > img:hover {
  transform: rotateY(-20deg);
  -webkit-transition: transform 2s;
  transition: transform 2s;
}

.uploaded-image-name {
  position: absolute;
  text-transform: uppercase;
  font-style: italic;
  font-size: 12px;
}

.upload-input-container {
  background-color: #ffffff;
}

.common-select-dropdown-container {
  position: relative;
  background-color: #ffffff;
  padding: 1vh 0;
}

.common-select-dropdown-container > .common-select-btn > img {
  position: relative;
  top: 1.2vh;
  transform: rotateZ(180deg);
}

.common-select-dropdown-container > .common-select-btn.active > img {
  transform: rotateZ(0);
}

.common-select-dropdown-container .common-label {
  position: relative;
  top: 1vh;
}

.apply-contest-submittion-data {
  margin-top: 5vh;
}

.input-upload-container {
  width: 20vh;
  position: relative;
  margin: 1.5vh 0;
  border: 0.3vh solid #008dcb;
  border-radius: 20px;
  transition: 0.6s background-color;
  min-height: 56px;
}

.input-upload-container:hover {
  background-color: #e1315b;
}

.input-upload-container > img {
  position: relative;
  top: 12px;
}

.input-upload-container > input {
  position: absolute;
  z-index: 1;
  left: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}

.no-logged-in-message {
  color: #e1315b;
  position: relative;
  top: -10px;
}

.photo-details {
  margin-top: 5vh;
}

.submit-photo-container {
  margin-top: 2vh;
}

.submit-photo-container > .btn-apply-photo,
.apply-contest-sign-in-container > .btn-apply-photo {
  padding: 18px 0;
}

.apply-contest-get-sign-up {
  padding: 1vh 0 2vh;
}

.apply-contest-get-sign-up a {
  font-weight: 600;
  font-size: 18px;
  color: #008dcb;
  margin-left: 5px;
}

.form-field.apply-contest-form-field {
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 52px;
  background-color: #616161;
  width: 100%;
  z-index: 10;
}

.footer .footer-links {
  display: flex;
  justify-content: space-around;
  padding: 2vh 0;
}

.footer .footer-links > li > a {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}

.next-section-jumper {
  width: 199px;
  height: 78px;
  padding-top: 2vh;
  padding-bottom: 0;
  background-color: #e2e2e2;
  text-align: center;
  margin: auto;
  cursor: pointer;
  transition: 0.8s background-color;
  font-weight: 600;
  opacity: 0.8;
}

.next-section-jumper:hover {
  background-color: #ff7c0f;
}

.next-section-jumper__image {
  position: relative;
  top: 5px;
}

.notification-message {
  font-weight: 600;
  font-size: 18px;
  padding: 2vh;
}

.notification-message.warning-message {
  background-color: #ffff90;
}

.notification-message.success-message {
  background-color: #79d325;
}

.input-uploader {
  display: flex;
}

.input-uploader .input-uploader__file {
  max-width: 80px;
}

.input-uploader .input-uploader__field {
  margin-left: 5vh;
  position: relative;
}

.input-uploader .input-uploader__field > img {
  position: absolute;
  top: -0.5vh;
  right: 2vh;
  z-index: -1;
}
