/** WorldwidePhotography styles **/

/** colors template **/
/** 
    orange #F47D14AA
    fucsia #ff7c0f
    lime #FFEC5C
    blue-jam #833c00
    coffee-raf #833c00
    orange-accent #ff7c0f
**/
/** top styles **/
i,
button {
  outline: none;
  cursor: pointer;
}

.app-wrapper {
  padding-bottom: 60px;
}

.sign-up-details .notification-message {
  margin-bottom: 5vh;
}

.top-search {
  display: flex;
  flex-direction: row-reverse;
  margin: 5vh 2vh 5vh 0;
}

.top-search__input {
  max-height: 40px;
  margin: 0.25vh 0 0 1vh;
  font-size: 18px;
  outline: none;
  font-weight: 800;
  color: #000000;
}

.top-bar-user__items {
  position: absolute;
  display: flex;
  z-index: 10;
  right: 5vh;
  top: 10vh;
  padding: 2vh 4vh !important;
  background-color: #ffffff;
}

li.top-bar-user__items_item {
  right: 0;
  transform: rotateZ(0);
  margin: 0 0.65vh;
}

li.top-bar-user__items_item > button {
  padding: 1.6vh;
  font-weight: 600;
  color: #616161 !important;
}

li.top-bar-user__items_item > button:hover {
  color: #ffffff;
}

.top-bar-sign__items,
.top-bar-user__items {
  display: flex;
  border-radius: 40px;
  border: 1px solid rgba(239, 239, 239, 0.479);
  box-shadow: 0 3px 6px #efefef;
  padding: 1vh 4vh;
  margin: 2vh 0 2.5vh 0 !important;
  max-height: 80px;
}

.bottom-input__ref {
  position: relative;
  margin-top: 20vh;
  opacity: 0;
}

.bottom-input__ref.active {
  margin-top: 0 !important;
}

.page-dashboard .owl-slider {
  position: relative;
}

.page-dashboard__container_bottom {
  margin-top: 5vh;
}

.contest-submittion__photo-actions {
  width: 10%;
  position: absolute;
  right: 0;
  z-index: 1;
}

.gallery-photo__full-screen {
  max-height: 500px;
  width: 90%;
  object-fit: scale-down;
  margin-top: 10vh;
  padding-bottom: 10vh;
}

.gallery-photo__full-screen > img {
  width: 100%;
  object-fit: scale-down;
  max-height: 500px;
}

.owl-slider-item {
  width: 100%;
  display: none;
}

/** contest items & slider **/
.contest-items {
  display: flex;
}

.contest-items .contest-item {
  text-align: center;
  margin: auto;
  max-width: 80%;
}

.page-contest-details h1,
.page-judle-classes h1 {
  max-width: 600px;
}

.page-gallery > .page-title,
.page-articles > .page-title,
.page-all-contests > .page-title,
.page-gallery-photo > .page-title {
  font-size: 36px;
  font-weight: 800;
}

.all-contests .contest-category {
  margin: 0 2vh;
}

.all-contests .contest-details {
  margin: 2.5vh 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.all-contests__category-name {
  font-size: 20px;
  padding: 2vh;
  width: 90%;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
}

.site-logo__wrapper {
  position: fixed;
  left: 25vh;
  top: 5vh;
  width: 100px;
  height: 60px;
  z-index: 20;
  display: block;
}

.contest-details > .contest-details-image {
  width: 100%;
  max-height: 40vh;
  object-fit: cover;
}

.contest-item__card {
  box-shadow: 0 3px 6px #efefef;
}

.contest-item__card_body {
  padding: 2vh 0;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contest-item__card_body > .contest-name {
  font-size: 22px;
  color: #707070;
  text-transform: uppercase;
}

.contest-item__card_body > .contest-description {
  margin: 1vh 0;
  padding: 2vh 5vh;
  font-size: 16px;
  font-weight: 100;
  color: #707070;
  text-align: justify;
}

.contest-item__card_header {
  padding: 6vh 0;
  background-color: teal;
  color: #ffffff;
  background-position: 0 10%;
}

.contest-status {
  position: absolute;
  top: 32px;
  left: 38px;
  padding: 0.4em 0.8em;
  box-shadow: 0 3px 6px #707070;
  color: #ff6600;
}

.contest-status.starts-soon {
  background-color: #ff0d4b;
}

.contest-status.happens-now {
  background-color: #ffec5c;
}

.owl-controls {
  text-align: center;
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.owl-control {
  width: 40px;
  height: 40px;
  border: none;
  margin: 0.2vh;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  transition: 0.5s background-color;
}

.owl-control:hover {
  background-color: #ff7c0f;
}

.owl-control.owl-control-prev {
  background-image: url(/assets/images/arrow-left.svg);
}

.owl-control.owl-control-next {
  background-image: url(/assets/images/arrow-right.svg);
}

.owl-slider-images {
  position: absolute;
  display: flex;
  width: 100%;
  height: 90%;
  top: 0;
  z-index: -1;
  opacity: 0.8;
}

.owl-slider-images > img {
  width: 33%;
  margin: 0.2%;
}

.owl-slider-item-frame {
  width: 100%;
  padding: 8em 0;
  min-height: 320px;
  background-color: transparent;
  border: none;
}

.owl-slider-item.selected {
  display: flex;
  align-items: center;
}

.owl-slider-item-text {
  color: #ffffff;
  font-size: 60px;
  max-width: 600px;
  margin: auto;
  font-size: 40px;
  font-weight: 800;
}

.owl-slider-items-container {
  display: flex;
}

.owl-slider-items-container > div {
  width: 100%;
}

.nav-header__link {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 44px;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff0f4;
  color: #833c00;
  margin-left: 0.8em;
  text-transform: uppercase;
  border-radius: 15px;
  box-shadow: 0 3px 6px #707070;
  transition: 0.6s background-color;
}

.nav-header-left__links {
  position: absolute;
  left: 2vh;
  top: 10vh;
  z-index: 1;
}

.nav-header__base_menu {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  border: 1px solid #efefef;
  box-shadow: 0 3px 6px #efefef;
  padding: 4vh 2.5vh;
  background-color: #ffffff;
}

.nav-header__base_menu__item,
.top-bar-user__items_item,
.top-bar-sign__items_item {
  position: relative;
  min-width: 120px;
  margin: 1vh 0;
  padding: 0;
  text-align: center;
  box-shadow: 0 3px 6px #efefef;
  cursor: pointer;
  transition: 0.8s background-color;
}

.top-bar-sign__items_item:nth-child(2) {
  margin-left: 1vh !important;
}

.top-bar-sign__items_item {
  transform: rotateZ(0);
  margin: auto 1vh;
}

.top-bar-sign__items_item:hover > a,
.nav-header__base_menu__item:hover > a {
  color: #ffffff !important;
}

.nav-header__base_menu__item > a,
.top-bar-user__items_item > a,
.top-bar-sign__items_item > a {
  color: #616161 !important;
  font-weight: 600;
  padding: 1.6vh;
  display: block;
}

.nav-header__base_menu__item:hover,
.top-bar-user__items_item:hover,
.top-bar-sign__items_item:hover {
  background-color: #833c00;
}

.top-bar-user {
  margin-left: 10vh;
}

.nav-header-right__links {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.2vh;
}

.site-image {
  pointer-events: none;
}

.page-profile-form {
  max-width: 60%;
  padding: 2.5vh;
  border: 1px solid #ff6600;
  border-radius: 20px;
}

.page-profile-form .form-field {
  flex-direction: column;
}

.page-profile-form .btn-submit,
.page-profile-form .form-field > input {
  margin-top: 2vh;
}

.sign-up-form,
.sign-in-form {
  display: flex;
  flex-direction: column;
  background-color: #ffefd8;
  border-radius: 20px;
  padding: 4vh;
  width: 400px;
  margin: auto;
}

.sign-up-form > .btn-submit,
.sign-in-form > .btn-submit {
  font-weight: 600;
}

.sign-in-form > .form-field,
.sign-up-form > .form-field {
  width: 100%;
}

.sign-in-form .common-checkbox__label {
  position: relative;
  top: 5vh;
}

.sign-up-form__container,
.sign-in-form__container {
  text-align: center;
  width: 100%;
}

.sign-in-using {
  width: 75%;
}

.sign-up-form > button,
.sign-in-form > button {
  margin-top: 2vh;
}

.sign-up-link,
.sign-in-link {
  max-width: 80%;
  margin: auto;
  margin-top: 1.5vh;
}

.sign-in__title,
.sign-up__title {
  font-size: 40px;
  font-weight: 800;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.page-contest-details .category-contest {
  padding: 2vh 0;
}

.contest-details {
  position: relative;
}

.contest-details .contest-details-preview {
  position: absolute;
  top: 10vh;
  width: 100%;
  text-align: center;
  padding: 2.5vh 0;
}

.contest-details-info__card-top__body {
  width: 100%;
}

.page-contest-details .contest-name {
  position: absolute;
  top: calc(50% - 20px);
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.contest-details-preview p {
  font-size: 34px;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

.nav-link-container {
  text-align: center;
}

.prizes-items {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  justify-content: space-between;
}

.prizes-items .prize-item a {
  color: #ff7c0f;
}

.prizes-items .prize-item {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prizes-items .nav-link {
  color: #000000;
}

.prizes-items .prize-item .prize-item__image {
  width: 36px;
  margin: auto;
  cursor: pointer;
  transition: 0.5s opacity;
  margin-top: 1vh;
}

.prizes-items .prize-item > .prize-item__image:hover {
  opacity: 0.4;
}

.prize-item__heading {
  display: flex;
}

.prize-name {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  max-width: 68%;
}

.prize-icon {
  background-image: url(/assets/icons/camera-black-icon.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 100%;
}

.articles-line {
  display: flex;
  flex-wrap: wrap;
}

.no-section-content {
  margin: 1vh 2vh;
}

.page-profile-update-form {
  max-width: 50%;
}

.page-profile-update-form .btn-submit {
  padding: 1.2vh 0;
}

.form-field.update-profile-form-field {
  display: flex;
  flex-direction: column;
}

.form-field.update-profile-form-field .common-input {
  padding: 1vh 2vh;
}

.article-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  cursor: pointer;
  min-height: 280px;
  margin: 2vh auto;
}

.article-preview__addition-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.article-preview__title,
.article-preview__description {
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  top: 0;
}

.article-preview__avatar {
  max-height: 300px;
  max-width: 350px;
  margin: auto;
  opacity: 0.5;
}

.contest-submittion__author-name > span:nth-child(1),
.contest-submittion__votes-count > span:nth-child(1) {
  color: #000000;
  margin-right: 10px;
}

.prize-contest-name {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.prize-contest-name > span:nth-child(2) {
  font-style: italic;
}

.prize-contest-link {
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  top: 0.5vh;
}

.contest-name {
  overflow: hidden;
}

.contest-name .original {
  text-transform: uppercase;
  font-size: 16px;
}

.site-logo {
  width: 100px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.contest-categories__nav {
  position: absolute;
  top: 4vh;
  left: 20vh;
  max-width: 40%;
}

.contest-categories__nav_links {
  display: flex;
  justify-content: center;
}

.contest-categories__nav_link {
  margin: 0 2vh;
}

.contest-categories__nav_link > a {
  font-size: 1.65vh;
  color: #833c00;
  font-weight: 600;
  transition: 0.6s color;
}

.contest-categories__nav_link > a:hover {
  color: #ff6600;
}

.nav-link {
  font-weight: 800;
  transition: 0.6s color;
}

.nav-link:hover {
  color: #fffff0;
}

.nav-header__links {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background-color: #ffffff;
}

.page-dashboard {
  padding: 8vh 4vh 2vh;
}

.page-sign {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  padding-left: 10vh;
}

.page-sign .btn-link {
  font-weight: 800;
}

.sign-in-selector {
  font-weight: 800;
  font-size: 18px;
}

.sign-in-selector.facebook:hover,
.sign-in-selector.google:hover {
  color: whitesmoke;
}

.sign-in-selector.facebook {
  color: #5970ff;
  transition: 0.5s color;
}

.sign-in-selector.google {
  color: #ff0d4b;
  transition: 0.5s color;
}

.sign-in__judles {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.sign-in__judles-container {
  display: flex;
  flex-direction: column;
}

.sign-in__judles-judle {
  display: flex;
  align-items: center;
  margin-top: 0.5vh;
}

.sign-in__judles-judle > span {
  margin-left: 10px;
}

.judle-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/** contest details **/
.contest-details-info {
  position: relative;
}

.contest-details-info__card-top {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.contest-details-info__card-bottom {
  width: 90%;
  padding-right: 10vh;
}

.contest-details-contest-avatar {
  width: 100%;
  margin: 0.2vh;
  max-height: 320px;
}

.contest-details-info__card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  min-height: 45vh;
  top: 2vh;
}

/** judle videos **/
.judle-videos-line {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.judle-videos-line > .judle-video {
  width: 60%;
  margin: auto;
}

.judle-videos-text,
.articles-text,
.gallery-text {
  font-size: 32px;
}

.class-video-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.class-video-tags {
  display: flex;
  margin-top: 10px;
}

.class-video-name {
  font-size: 22px;
  font-weight: 800;
}

.class-video-tags > .video-tag {
  margin: 4px;
}

.class-video {
  width: 80%;
  margin-top: 20px;
  border-radius: 20px;
}

.video-tags {
  margin-top: 50px;
}

.video-tags .class-video-tags {
  margin-left: -2.5px;
}

.simple-border {
  border-radius: 20px;
}

.expander-tab {
  width: 100%;
}

.expander-content {
  text-align: left;
}

/** privacy **/
.privacy-and-conditions-page {
  font-size: 20px;
  text-align: justify;
  padding: 2vh 1.5vh 8vh 1.5vh;
  color: #616161;
}

/** gallery **/
.gallery-pictures {
  display: flex;
  flex-wrap: wrap;
}

.gallery-pictures > .gallery-picture {
  padding: 4vh 0;
  cursor: pointer;
  text-align: center;
  box-shadow: 2px 1px 1px #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s filter;
}

.gallery-pictures > .gallery-picture > img {
  width: auto;
  max-height: 250px;
  object-fit: contain;
  max-width: 90%;
}

.gallery-picture:hover {
  filter: opacity(0.8);
}

.gallery-photo-impressions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: 1vh;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.gallery-photo-impressions .impressions-count {
  position: relative;
  top: 1px;
  left: 2px;
  font-size: 18px;
  font-weight: 800;
  color: #fff0f4;
}

.contest-details-info__additions {
  width: 55%;
  margin-left: 2vh;
}

.top-line {
  padding: 2vh 0;
  background-color: #ff7c0f;
}

.page-contest-category > h1 {
  margin: 2.5vh;
}

.all-contest-entries {
  margin-top: 5vh;
}

.all-contest-entries__title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

.link-to-other-contests,
.contest-social-sharing {
  margin-top: 5vh;
  font-size: 18px;
}

.link-to-other-contests {
  font-size: 20px;
}

.link-to-other-contests > a {
  color: #ff7c0f;
}

.link-to-other-contests > a:hover {
  color: #833c00;
}

.social-sharing-buttons span {
  color: #5970ff;
}

.contest-social-sharing span {
  margin: 1em;
  margin-left: 0;
}

.contest-announcements {
  display: flex;
  flex-direction: column;
}

.contest-announcements .contest-announcement {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
}

.contest-announcement__title {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.contest-news h4 {
  font-size: 16px;
}

.close-modal-btn {
  width: 28px;
  height: 28px;
  border: none;
  outline: none;
  background: url(/assets/icons/baseline_close_black_18dp.png) no-repeat center;
  background-size: 80%;
  position: absolute;
  top: 40px;
  left: 40px;
  cursor: pointer;
  transition: 0.5s background-color;
}

.close-modal-btn:hover {
  background-color: #ff7c0f;
}

.submit-contest-modal {
  width: 99%;
  height: 99%;
  text-align: center;
  padding-top: 2%;
  background-color: #fffff0;
}

.submit-contest-modal .submit-photo-form {
  width: 40%;
  margin: auto;
  position: relative;
}

.select-photo-area {
  margin-top: 2vh;
}

.page-contest-details .social-sharing-buttons {
  margin-top: 2.5vh;
  font-size: 12px;
}

.page-contest-details .social-sharing-buttons > span {
  margin: 1vh;
}

.submit-photo-btn {
  margin-top: 1vh;
}

.page-not-found {
  padding: 10vh;
  text-align: center;
}

.page-not-found p {
  font-size: 38px;
}

.snow-gif {
  background: url(/assets/images/2eSd.gif) no-repeat center;
  width: 250px;
  height: 250px;
  position: absolute;
  right: 40%;
  top: 20%;
  z-index: 100;
}

.language-switcher {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #833c00;
  margin: auto;
  margin-top: 2vh;
  transition: 0.6s background-color;
  cursor: pointer;
}

.language-switcher:hover {
  background-color: #ff7c0f;
}

.language-switcher__select {
  margin-top: 2.5vh;
  display: flex;
  flex-direction: column;
}

.language-switcher__select > button {
  width: 100%;
  height: 28px;
  margin: auto;
  border: 1px solid #833c00;
  color: #833c00;
  background-color: #ffffff;
}

.language-switcher__active {
  text-align: center;
  margin-top: 20px;
  transition: 0.5s background-color;
  color: #616161;
  font-weight: 800;
  font-size: 18px;
}

.common-select-dropdown-options {
  max-width: 50%;
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 10;
}

.common-select-dropdown-options > input:hover {
  background-color: #833c00;
}

.common-select-dropdown-options > input {
  padding: 2% 4%;
  width: 100%;
  height: 42px;
  font-size: 16px;
  box-shadow: 2px 1px 1px 1px #707070;
  transition: 0.5s background-color;
  border: none;
}

.upload-input-container__next {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 2vh auto;
}

.upload-input-container__next > span {
  position: absolute;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  align-self: center;
  color: #ffffff;
}

.input-uploader__selected {
  color: #833c00;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0.5vh;
  background-color: #ffffff;
  border: 1px solid #833c00;
  width: 40%;
  overflow: hidden;
  text-align: left;
  position: absolute;
  left: 0;
}

.contest-submittions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 4vh 0;
}

.contest-submittions .contest-photo > img {
  width: 40%;
  margin-bottom: 1em;
}

.contest-submittions .contest-submittion {
  position: relative;
  width: 33%;
  max-height: 300px;
  margin: 5vh 0.5vh;
  display: flex;
  cursor: pointer;
}

.contest-submittion__photo {
  display: flex;
  width: 100%;
}

.contest-submittion__photo > img {
  width: 76%;
  height: 100%;
  object-fit: scale-down;
  margin: auto;
  padding-top: 6.5vh;
  transition: 0.6s transform;
  box-shadow: 2px 1px 1px #707070;
}

.contest-submittion__photo > img:hover {
  transform: rotateY(-20deg);
}

.contest-submittion__photo-info {
  position: absolute;
  font-size: 12px;
  color: #616161;
  max-width: 80%;
}

.contest-submittions .contest-submittion .common-icon {
  right: 0;
}

.contest-submittion-resize > img {
  position: absolute;
  bottom: 0;
}

.photo-details-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  height: 100%;
  z-index: 10;
}

.photo-details-frame img {
  height: 80%;
}

.contest-stroke-info__item {
  display: flex;
  margin: 0.5vh 2vh;
}

.contest-stroke-info__item > p {
  margin: 0.5vh 1vh;
}

.gallery-pictures .gallery-picture > img:hover {
  transform: rotateY(-20deg);
  transition: transform 0.6s;
}

.uploaded-image-name {
  position: absolute;
  text-transform: uppercase;
  font-style: italic;
  font-size: 12px;
}

.input-uploader {
  background: url(/assets/images/burger_cute.png) repeat-x center;
  background-size: 50%;
}

.common-select-dropdown-container {
  position: relative;
  background-color: #ffffff;
  padding: 1vh 0;
}

.common-select-dropdown-container > .common-select-btn > img {
  position: relative;
  top: 1.2vh;
  transform: rotateZ(180deg);
}

.common-select-dropdown-container > .common-select-btn.active > img {
  transform: rotateZ(0);
}

.common-select-dropdown-container .common-label {
  position: relative;
  top: 1vh;
}

.apply-contest-submittion-data {
  margin-top: 5vh;
}

.input-upload-container {
  width: 20vh;
  position: relative;
  margin: 1.5vh 0;
  border: 0.3vh solid #833c00;
  border-radius: 20px;
  transition: 0.6s background-color;
  min-height: 56px;
}

.input-upload-container:hover {
  background-color: #ff7c0f;
}

.input-upload-container > img {
  position: relative;
  top: 12px;
}

.input-upload-container > input {
  position: absolute;
  z-index: 1;
  left: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}

.no-logged-in-message {
  color: #ff7c0f;
  position: relative;
  top: -10px;
}

.photo-details {
  margin-top: 5vh;
}

.upload-input-container__next > .btn-apply-photo,
.apply-contest-sign-in-container > .btn-apply-photo {
  padding: 18px 0;
}

.apply-contest-get-sign-up {
  padding: 1vh 0 2vh;
}

.apply-contest-get-sign-up a {
  font-weight: 600;
  font-size: 18px;
  color: #833c00;
  margin-left: 5px;
}

.form-field.apply-contest-form-field {
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 52px;
  background-color: #616161;
  width: 100%;
  z-index: 10;
}

.footer .footer-links {
  display: flex;
  justify-content: space-around;
  padding: 2vh 0;
}

.footer .footer-links > li > a {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}

.next-section-jumper {
  width: 150px;
  padding: 1.5vh 0;
  text-align: center;
  margin: auto;
  cursor: pointer;
  border: 2px solid #833c00;
  transition: 0.8s background-color;
  font-weight: 600;
  opacity: 0.8;
}

.next-section-jumper:hover {
  background-color: #ff7c0f;
}

.next-section-jumper__image {
  position: relative;
  top: 5px;
}

.notification-message {
  font-size: 16px;
  padding: 4vh;
  color: #616161;
}

.notification-message.warning-message {
  background-color: #ffff90;
}

.notification-message.success-message {
  background-color: #79d325;
}

.notification-message.error-message {
  background-color: red;
}

.input-uploader {
  display: flex;
}

.input-uploader .input-uploader__file {
  max-width: 80px;
}

.input-uploader .input-uploader__field {
  margin-left: 5vh;
  position: relative;
}

.input-uploader .input-uploader__field > input {
  opacity: 0;
  min-height: 60px;
}

.input-uploader .input-uploader__field > img {
  position: absolute;
  top: 0;
  left: calc(50% - 18px);
  z-index: -1;
  width: 36px;
  height: 36px;
}

.contest-info-container,
.results-info,
.contest-news {
  min-height: 220px;
}

.contest-info-container__items > .contest-info-container__items-item {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.contest-info-container__items
  > .contest-info-container__items-item
  > span:nth-child(2) {
  margin-top: 1vh;
  text-align: justify;
}

.contest-info-container__items
  > .contest-info-container__items-item
  > span:nth-child(1) {
  font-weight: 600;
  font-size: 16px;
}

.sign-in-using__selectors > button {
  padding: 8px 6px !important;
  margin-left: 10px;
}

.sign-in-using__selectors > button > span {
  font-weight: 800 !important;
}

.google-script__load-error {
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 10px;
  color: red;
}
