.btn {
  border: none;
  cursor: pointer;
}

button.btn-submit-photo {
  padding-top: 4%;
  padding-bottom: 4%;
  color: #ffffff;
}

.btn-submit-photo {
  padding: 5vh 2vh;
}

button:disabled {
  background-color: darkgray !important;
  cursor: wait;
}

.btn-tab-item,
.btn-submit-photo,
.btn-apply-photo {
  min-width: 120px;
  padding: 1.5vh;
  margin: 1vh;
  border-radius: 15px;
  transition: 0.6s background-color;
  margin-left: 0;
  margin-top: 0;
  text-transform: uppercase;
  background-color: #ff7c0f;
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: #ffffff;
}

.btn-tab-item:hover,
.btn-submit-photo:hover,
.btn-apply-photo:hover {
  background-color: #833c00;
}

.btn-submit-photo {
  margin-top: 2vh;
}

.btn-tab-item.active {
  background-color: #833c00;
  color: #ffffff;
}

.btn-simple {
  font-weight: 600;
}

.btn-simple.btn-explore-contest {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
}

.btn-simple:hover {
  background-color: #833c00;
  color: #ff7c0f;
}

.btn-submit,
.btn-simple {
  transition: 0.5s background-color;
  min-width: 140px;
  margin: auto;
  padding: 1.5vh 1vh;
  border-radius: 16px;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff7c0f;
}

.btn-submit:hover,
.btn-simple:hover {
  background-color: #833c00;
}

.common-input {
  border: none;
  padding: 0 1vh;
}

.common-input.common-input-search {
  text-transform: uppercase;
}

.form-field.common-checkbox__field {
  position: relative;
  max-width: 80%;
  margin: 1vh auto;
  display: flex;
  justify-content: flex-start;
}

.form-field {
  margin: 1vh auto;
}

.form-field > input {
  padding: 2% 5%;
  width: 90%;
  height: 42px;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 1px 2px 1px #000000;
}

.form-field > input:hover {
  background-color: whitesmoke;
}

.form-field > label,
.common-select-dropdown-container > button > label {
  font-size: 18px;
  margin-bottom: 0.2vh;
  transition: 0.6s color;
  cursor: pointer;
}

.common-select-dropdown-container > button:hover > label {
  color: #ff7c0f;
}

.btn-link {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-link:hover {
  color: #ffffff !important;
}

.common-checkbox__input {
  opacity: 0;
  right: 0;
  position: absolute;
  z-index: 10;
  margin-bottom: 5px;
  max-width: 28px;
  max-height: 28px;
  cursor: pointer;
}

.common-checkbox__input + label::after {
  border: 0.2vh solid #ff7c0f;
  width: 28px;
  height: 28px;
  content: "";
  position: absolute;
  right: 0;
  top: -5px;
  cursor: pointer;
}

.common-checkbox__input:checked + label::after {
  opacity: 1;
  width: 28px;
  height: 28px;
  background: url(/assets/icons/baseline_check_black_18dp.png) no-repeat center;
  background-size: 80%;
  content: "";
  position: absolute;
  right: 0;
}

.common-select-btn {
  background-color: transparent;
  padding: 0.5%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  margin: auto;
}

.common-select-btn .icon-common {
  transform: rotateZ(180deg);
  position: relative;
  bottom: 0.5vh;
}

.common-select-btn.active .icon-common {
  transform: none;
  bottom: -0.05vh;
}

.common-select-btn .common-label {
  position: relative;
  top: 0.5vh;
  font-size: 18px;
}

.icon-vote,
.icon-full-screen {
  width: 38px;
  height: 26px;
  padding: 0.5vh;
  margin: 0.5vh 0;
  transition: 0.6s background-color;
}

.icon-full-screen:hover,
.icon-vote:hover {
  background-color: #ff7c0f;
}
