.btn {
  border: none;
  cursor: pointer;
}

.btn-simple {
  width: 168px;
  height: 48px;
  background-color: #008dcb;
  border-radius: 20px;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
  transition: 0.6s background-color;
}

.btn-tab-item,
.btn-submit-photo,
.btn-apply-photo {
  min-width: 100px;
  padding: 1.5vh;
  border-radius: 10px;
  margin: 0.8vh;
  border: #e1315b 0.4vh solid;
  transition: 0.6s background-color;
  margin-left: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.btn-tab-item:hover,
.btn-submit-photo:hover,
.btn-apply-photo:hover {
  background-color: #008dcb;
}

.btn-submit-photo {
  margin-top: 2vh;
}

.btn-tab-item.active {
  background-color: #ffec5c;
}

.btn-simple.btn-explore-contest {
  text-transform: uppercase;
  color: #6eaabd;
}

.btn-simple:hover {
  background-color: #ffec5c;
  color: #e1315b;
}

.btn-submit {
  transition: 0.5s background-color;
  width: 200px;
  height: 64px;
  border-radius: 20px;
  margin: auto;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #e1315b;
}

.btn-submit:hover {
  background-color: #ffec5c;
}

.common-input {
  border-radius: 1.25vh;
  border: none;
  font-size: 1.5vh;
  padding: 0 0.8em;
}

.common-checkbox-form-field {
  position: relative;
  width: 300px;
  margin: auto;
}

.common-checkbox-form-field > .box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.form-field {
  margin: 1vh auto;
}

.form-field > input,
.submit-photo-form-field > input {
  padding: 1vh 1.5vh;
  width: 280px;
  height: 42px;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 1px 2px 1px #000000;
  transition: 0.5s background-color;
}

.submit-photo-form-field > input {
  width: 100%;
}

.form-field > input:hover {
  background-color: whitesmoke;
}

.form-field > label,
.submit-photo-form-field > label,
.common-select-dropdown-box > button > label {
  font-size: 18px;
  margin-bottom: 0.2vh;
  cursor: pointer;
}

.btn-link {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-link:hover {
  color: #008dcb;
}

.submit-photo-form-field {
  display: flex;
  flex-direction: column;
  margin: 1vh;
}

.common-checkbox {
  opacity: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.common-checkbox + label::after {
  border: 0.2vh solid #e1315b;
  width: 28px;
  height: 28px;
  content: "";
  position: absolute;
  right: 0;
  cursor: pointer;
}

.common-checkbox:checked + label::after {
  opacity: 1;
  width: 28px;
  height: 28px;
  background: url(http://localhost:3000/assets/images/baseline_check_black_18dp.png)
    no-repeat center;
  background-size: 80%;
  content: "";
  position: absolute;
  right: 0;
}

.common-select-dropdown-box > button {
  background-color: transparent;
  padding: 0.2vh;
  border: none;
}

.common-select-dropdown-options > input {
  background-color: transparent;
  padding: 0.8vh;
  /* border-radius: 10px; */
  border-top: 1.5px solid #008dcb;
  border-bottom: 1.5px solid #008dcb;
  width: 100%;
  cursor: pointer;
}
