.btn {
  border: none;
  cursor: pointer;
}

.btn-simple {
  width: 168px;
  height: 48px;
  background-color: #008dcb;
  border-radius: 20px;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
  transition: 0.6s background-color;
}

button.btn-submit-photo {
  padding-top: 4%;
  padding-bottom: 4%;
  color: #ffffff;
}

.btn-apply-photo {
  border: none;
}

.btn-tab-item,
.btn-submit-photo,
.btn-apply-photo {
  min-width: 160px;
  padding: 2%;
  margin: 1%;
  border-radius: 15px;
  transition: 0.6s background-color;
  margin-left: 0;
  margin-top: 0;
  text-transform: uppercase;
  background-color: #e1315b;
  font-weight: 600;
}

.btn-tab-item:hover,
.btn-submit-photo:hover,
.btn-apply-photo:hover {
  background-color: #008dcb;
}

.btn-submit-photo {
  margin-top: 2vh;
}

.btn-tab-item.active {
  background-color: #ffec5c;
}

.btn-simple.btn-explore-contest {
  text-transform: uppercase;
  color: #ffffff;
}

.btn-simple:hover {
  background-color: #ffec5c;
  color: #e1315b;
}

.btn-submit {
  transition: 0.5s background-color;
  min-width: 140px;
  margin: auto;
  padding: 2%;
  border-radius: 16px;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e1315b;
}

.btn-submit:hover {
  background-color: #ffec5c;
}

.common-input {
  border-radius: 1.25vh;
  border: none;
  font-size: 1.5vh;
  padding: 0 0.8em;
}

.common-input.common-input-search {
  text-transform: uppercase;
}

.common-checkbox-form-field {
  position: relative;
  width: 300px;
  margin: auto;
}

.common-checkbox-form-field > .box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.form-field {
  margin: 1vh auto;
}

.form-field > input,
.submit-photo-form-field > input {
  padding: 1vh 1.5vh;
  width: 280px;
  height: 42px;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 1px 2px 1px #000000;
  transition: 0.5s background-color;
}

.submit-photo-form-field > input {
  width: 100%;
}

.form-field > input:hover {
  background-color: whitesmoke;
}

.form-field > label,
.submit-photo-form-field > label,
.common-select-dropdown-box > button > label {
  font-size: 18px;
  margin-bottom: 0.2vh;
  transition: 0.6s color;
  cursor: pointer;
}

.common-select-dropdown-box > button:hover > label {
  color: #e1315b;
}

.btn-link {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-link:hover {
  color: #008dcb;
}

.submit-photo-form-field {
  display: flex;
  flex-direction: column;
  margin: 1vh;
}

.common-checkbox {
  opacity: 0;
  left: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.common-checkbox + label::after {
  border: 0.2vh solid #e1315b;
  width: 28px;
  height: 28px;
  content: "";
  position: absolute;
  right: 0;
  top: -5px;
  cursor: pointer;
}

.common-checkbox:checked + label::after {
  opacity: 1;
  width: 28px;
  height: 28px;
  background: url(http://localhost:3000/assets/icons/baseline_check_black_18dp.png)
    no-repeat center;
  background-size: 80%;
  content: "";
  position: absolute;
  right: 0;
}

.common-select-btn {
  background-color: transparent;
  padding: 0.5%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  margin: auto;
}

.common-select-btn .common-icon {
  transform: rotateZ(180deg);
  position: relative;
  bottom: 5px;
}

.common-select-btn.active .common-icon {
  transform: none;
  top: 0;
}

.common-select-btn .common-select-dropdown-label {
  position: relative;
  top: 6px;
}

.page-profile {
  padding: 1vh 2vh;
}
