@font-face {
  font-family: "PTSans";
}

@font-face {
  font-family: "PTSansBold";
}

.search-icon {
  width: 60px;
  height: 60px;
  background: url(http://localhost:3000/assets/icons/search-icon.png) no-repeat;
  background-size: 100%;
  border: none;
}

.menu-icon {
  width: 60px;
  height: 60px;
  background: url(http://localhost:3000/assets/icons/menu-icon.png) no-repeat
    center;
  background-size: 100%;
  margin-top: -5px;
  right: 1vh;
  border: none;
  z-index: 100;
  position: absolute;
}

.icon-btn {
  cursor: pointer;
  transition: 0.6s opacity;
}

.icon-btn:hover {
  opacity: 0.8;
}
