.all-contests {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.all-contests__category {
  flex: 1 50%;
  margin: 1vh 0;
}

.category-contest {
  position: relative;
  box-shadow: 0 3px 6px #707070;
  max-width: 80%;
  margin: 2vh 0;
  transition: 0.6s opacity;
  cursor: pointer;
}

.category-contest:hover {
  opacity: 0.8;
}

.contest-image {
  width: 100%;
  max-height: 280px;
  object-fit: cover;
}

.all-contests__contest-details {
  text-align: center;
  margin: 5vh;
}

.contest-category__name {
  font-size: 2.5vh;
  font-weight: 600;
  letter-spacing: 1px;
}

.contest-submittion__info-block {
  line-height: 32px;
  font-size: 16px;
  border-top: 1px solid #000000;
}

.page:not(.page-dashboard) {
  padding-left: 25vh;
  margin-top: 20vh;
}

.page.page-gallery-photo {
  padding-bottom: 10vh;
}

.page {
  padding: 2vh 4vh 8vh;
}

.page-sign {
  padding: 5vh 0 10vh 0;
  padding-left: 5vh !important;
  display: flex;
  justify-content: space-around;
}

.page-sign .btn-link {
  font-weight: 800;
}

.page-profile,
.page-articles,
.page-all-contests,
.page-gallery {
  margin-top: 15vh;
}

.page-profile > .page-profile__form > form {
  max-width: 72%;
  margin: auto;
  padding-bottom: 3.5vh;
}

.page-profile > .page-profile__form .form-field > .common-input {
  padding: 1vh 5vh 1vh 10vh;
}

.page-dashboard__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.page-dashboard__container_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68vh;
  padding-left: 28vh;
  padding-right: 10vh;
}

.page-dashboard__container_top > div:nth-child(1) > p:nth-child(1) {
  font-size: 44px;
  font-weight: 800;
  color: #ff6600;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.page-dashboard__container_top > div:nth-child(1) > p:nth-child(2) {
  font-size: 28px;
  font-weight: 800;
  color: #ffb87c;
  margin-bottom: 4vh;
}

.page-dashboard__container_top .join-btn {
  max-width: 370px;
  border-radius: 28px;
  background-color: #ffffff;
  text-align: left;
  padding: 1.5vh 4vh;
  box-shadow: 5px 5px 5px #ffbb83;
  border: none;
  color: #ff6600;
  font-size: 20px;
  font-weight: 800;
  transition: 0.8s background-color;
}

.page-dashboard__container_top .join-btn:hover {
  background-color: #ff7c0f;
  color: #ffffff;
}

.page-dashboard__image {
  position: absolute;
  pointer-events: none;
  right: 10%;
  top: 25%;
  z-index: -1;
  min-height: 400px;
  width: 50vh;
  transform: rotateZ(-15deg);
  background-repeat: no-repeat;
  background-image: url(/assets/images/kisspng-mount.png);
  background-size: 100%;
  background-color: white;
}

.gallery-photo__photo-info .contest-submittion__photo-info {
  position: relative;
}
