.site-logo {
    position: absolute;
    left: 10px;
    top: 24px;
    width: 150px;
    height: 60px;
    background-color: khaki;
    background: url(/assets/images/logo.png) no-repeat center;
    background-size: 60%;
}

.top-search {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 8vh;
}

.top-search > input {
    max-width: 80%;
    height: 40px;
    margin-left: 1.2vh;
    margin-top: 0.5vh;
}

.nav-header-base-menu {
    display: flex;
    margin-left: 200px;
}

.sign-top-menu {
    display: flex;
    width: 300px;
    margin-left: 1.2vh;
    margin-right: 3.8vh;
}

.top-menu-items {
    position: absolute;
    width: 300px;
    z-index: 1;
    right: 0;
    top: 0;
    min-height: 200px;
    background-color: #ffffff;
}

.owl-slider {
    position: relative;
}

.owl-slider-item {
    width: 100%;
    display: none;
}

.contest-items {
    display: flex;
}

.contest-items .contest-item {
    text-align: center;
    margin: auto;
    max-width: 80%;
}

.page-contest-details, .page-judle-classes, .page-usefull-articles {
    margin: 1.6em 2.8em;
}

.page-contest-details h1, .page-judle-classes h1 {
    max-width: 600px;
}

.contest-item-card-body {
    border-radius: 20px;
    background-color: #E1E1E1;
    padding: 0.4em 0;
    box-shadow: 1px 2px 1px #fffff5;
}

.contest-item-card-body > .contest-name {
    font-size: 20px;
    color: #fffff0;
    text-transform: uppercase;
}

.contest-item-card-body > .contest-description {
    margin-top: 0.8vh;
    margin-bottom: 0.8vh;
    font-weight: 100;
}

.contest-item-card-header {
    border-radius: 20px;
    padding: 3.8em 0;
    background-color: teal;
    color: #ffffff;
    background-position: 0 10%;
}

.contest-status-label {
    position: absolute;
    top: 32px;
    left: 38px;
    padding: 0.4em 0.8em;
    border-radius: 20px;
}

.contest-status-coming {
    background-color: indianred;
    box-shadow: 1px 2px 1px #000000;
}

.contest-status-active {
    background-color: khaki;
    box-shadow: 1px 2px 1px #000000;
}

.owl-controls {
    text-align: center;
    position: relative;
    top: 0.8vh;
}

.owl-control {
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    color: khaki;
    margin: 0.2em;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s background-color;
}

.owl-control:hover {
    background-color: #fffff7;
}

.owl-control.owl-control-prev::before {
    content: '<';
}

.owl-control.owl-control-next::before {
    content: '>';
}

.owl-slider-images {
    position: absolute;
    display: flex;
    width: 100%;
    height: 90%;
    top: 0;
    z-index: 1;
    opacity: 0.5;
}

.owl-slider-images > img {
    width: 33%;
    margin: 0.2%;
}

.owl-slider-item-frame {
    width: 100%;
    padding: 8em 0;
    background-color: transparent;
}

.owl-slider-item.selected {
    display: flex;
    align-items: center;
}

.owl-slider-item-text {
    color: #ffffff;
    font-size: 60px;
    max-width: 600px;
    margin: auto;
    font-size: 40px;
    font-weight: 800;
}

.owl-slider-items-container {
    display: flex;
}

.owl-slider-items-container > div {
    width: 100%;
}

.sign-top-menu-link, .nav-header-link {
    width: 120px;
    height: 50px;
    text-align: center;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF0F4;
    color: #6EAABD;
    margin-left: 0.8em;
    text-transform: uppercase;
    border-radius: 15px;
    box-shadow: 0 2px 4px #000000;
    transition: 0.6s background-color;
}

.sign-top-menu-link:hover, .nav-header-link:hover {
    background-color: aquamarine;
}

.sign-top-menu-link.active, .nav-header-link.active {
    color: #FF678E;
}

.top-menu-item {
    padding: 1.4vh 1.8vh;
    box-shadow: 0 2px 4px #000000;
}

.top-menu-item > a {
    font-weight: 800;
    color: #FF678E;
}

.nav-header {
    min-height: 80px;
    background-color: #FFC9C9;
    width: 100%;
    padding-top: 1.6em;
    padding-bottom: 0.4em;
    display: inline-grid;
    grid-template-rows: repeat(1, 78px);
    grid-template-columns: repeat(2, 50%);
}

.nav-header-right-links {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.sign-up-form, .sign-in-form {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #FFEFD8;
    border-radius: 20px;
    margin: auto;
    margin-top: 1.5vh;
}

.sign-in-form {
    padding: 8vh;
    padding-top: 3.5vh;
}

.sign-up-form {
    padding: 3.5vh;
}

.sign-up-form-container, .sign-in-form-container {
    text-align: center;
}

.sign-up-form > button, .sign-in-form > button {
    margin-top: 2vh;
}

.sign-up-link, .sign-in-link {
    max-width: 80%;
    margin: auto;
    margin-top: 1.5vh;
}

.sign-in-text {
    font-size: 40px;
    font-weight: 800;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.prizes-line {
    display: flex;
    flex-direction: row;
    margin: 10px 18px;
    justify-content: space-between;
}

.prizes-line .prize-item {
    padding: 10px 20px;
    text-align: center;
}

.prizes-line .prize-item > .prize-image {
    max-width: 80px;
    margin: auto;
    cursor: pointer;
    transition: 0.5s opacity;
    margin-top: 1vh;
}

.prizes-line .prize-item > .prize-image:hover {
    opacity: 0.4;
}

.prize-name > span {
    font-size: 18px;
    font-weight: 800;
}

.prize-contest-name {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

.prize-contest-name > span:nth-child(2) {
    font-style: italic;
}

.prize-contest-link {
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    top: 0.5vh;
}

.contest-name {
    overflow: hidden;
}

.contest-name .original {
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
}

.contest-categories-nav {
    position: relative;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: khaki;
    width: 100%;
}

.contest-categories-nav-links {
    display: flex;
    justify-content: center;
}

.contest-categories-nav-links > .nav-link-container {
    margin-left: 1.5vh;
}

.contest-categories-nav-links > .nav-link-container:nth-child(4) {
    position: relative;
    top: 0.2vh;
}

.contest-categories-items {
    position: absolute;
    background-color: #fffff0;
    box-shadow: 1px 2px 1px #000000;
    z-index: 10;
    top: 48px;
    display: flex;
    padding: 1vh;
    width: 50%;
    left: 25%;
    flex-wrap: wrap;
    margin: auto;
}

.contest-categories-items > .nav-link-container {
    width: 25%;
}

.contest-categories-items .nav-link {
    color: #6EAABD;
}

.contest-categories-nav-links .nav-link {
    color: indianred;
}

.nav-link {
    font-weight: 800;
    transition: 0.6s color;
}

.nav-link:hover {
    color: #fffff0;
}

.page-dashboard {
    background: url(/assets/images/pane2.jpg);
    padding-bottom: 0.8vh;
}

.page-sign {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding-top: 10vh;
}

.sign-in-selector {
    font-weight: 800;
    font-size: 18px;
}

.sign-in-selector.facebook {
    color: #5970FF;
}

.sign-in-selector.google {
    color: #FF0D4B;
}

.sign-in-judles-area {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    margin-top: 1.8vh;
}

.sign-in-judles {
    display: flex;
}

.sign-in-judle {
    display: flex;
    flex-direction: column;
}

.sign-in-judle > span {
    margin-top: 0.8vh;
}

.sign-in-judle-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.contest-details-info-card {
    display: flex;
    flex-direction: column;
}

.contest-details-info {
    position: relative;
}

.contest-details-info-top {
    display: flex;
    justify-content: space-between;
}

.contest-details-contest-avatar {
    width: 100%;
    margin: 0.2vh;
    max-height: 280px;
}

.contest-details-info-card {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    top: -10vh;
    padding: 5vh;
    width: 80%;
    left: 10%;
}