.btn {
    border: none;
    cursor: pointer;
}

.btn-simple {
    width: 168px;
    height: 48px;
    background-color: #008DCB;
    border-radius: 20px;
    font-weight: 800;
    font-size: 16px;
    color: #ffffff;
    transition: 0.6s background-color;
}

.btn-tab-item, .btn-submit-photo {
    min-width: 100px;
    padding: 1.5vh;
    border-radius: 10px;
    margin: 0.8vh;
    border: #E1315B 0.2vh solid;
    transition: 0.6s background-color;
    margin-left: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.btn-submit-photo {
    margin-top: 2vh;
}

.btn-tab-item.active {
    background-color: #FFEC5C;
}

.btn-simple.btn-explore-contest {
    text-transform: uppercase;
    color: #6EAABD;
}

.btn-simple:hover {
    background-color: #FFEC5C;
    color: #E1315B;
}

.btn-submit {
    transition: 0.5s background-color;
    width: 200px;
    height: 64px;
    border-radius: 20px;
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    background-color: #E1315B;
}

.btn-submit:hover {
    background-color: #FFEC5C;
}

.common-input {
    border-radius: 1.25vh;
    border: none;
    font-size: 1.5vh;
    padding: 0 0.8em;
}

.form-field {
    margin: 1vh auto;
}

.form-field > input {
    padding: 1vh 1.5vh;
    width: 300px;
    height: 48px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 1px 2px 1px #000000;
    transition: 0.5s background-color;
}

.form-field > input:hover {
    background-color: whitesmoke;
}

.btn-link {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-link:hover {
    color: #008DCB;
}
