.btn {
    border: none;
    cursor: pointer;
}

.btn-simple {
    width: 168px;
    height: 48px;
    background-color: #FF678E;
    border-radius: 20px;
    color: #000000;
    font-weight: 800;
    font-size: 16px;
    transition: 0.6s background-color;
}

.btn-simple:hover {
    background-color: #E6FFC9;
}

.btn-submit {
    transition: 0.5s background;
    width: 200px;
    height: 64px;
    border-radius: 20px;
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    background-color: #FF678E;
}

.btn-submit:hover {
    background-color: #E6FFC4;
}

.common-input {
    border-radius: 1.25vh;
    border: none;
    font-size: 1.5vh;
    padding: 0 0.8em;
}

.form-field {
    margin: 1vh auto;
}

.form-field > input {
    padding: 1vh 1.5vh;
    width: 300px;
    height: 48px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 1px 2px 1px #000000;
}

.btn-link {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}