name: deploy-client-app
on:
  push:
    branches: []
    # branches: [master, develop]
jobs:
  test:
    name: Test app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Test app
        run: |
          npm install --silent
          npm run test
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - name: Deploy app
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{secrets.SSH_HOST}}
          username: ${{secrets.SSH_USERNAME}}
          password: ${{secrets.SSH_PASSWORD}}
          script: |
            ./stop-docker-container-by-port.sh 8080
            cd apps/photography/worldwide-photography-client
            git pull origin master
            docker build -t worldwide-photography-client:0.1 .
            random_tag_name=$(cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w ${1:-32} | head -n 1)
            docker run --publish 8080:8080 --detach --name ${random_tag_name} worldwide-photography-client:0.1
            echo 'Deploy of client app complete.'
