name: deploy-app
on:
  push:
    branches: [master, develop]
jobs:
  test:
    name: Test app before pushing
    runs-on: ubuntu-latest
    steps:
      - name: Test..
      uses: [actions/checkout@v2, actions/setup-node@v1]
      run: npm run test
  deploy:
    name: Deploy app to server
    description: Pull code from repo on server and restart Docker container
    runs-on: ubuntu-latest
    steps:
      - name: Deploy..
      uses: appleboy/ssh-action@v0.1.2
