name: deploy-client-app
on:
  push:
    branches: [master, develop]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: |
          echo %TODO Tests passed%
  deploy:
    name: Deploy WorldwidePhotography client app to server
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{secrets.SSH_HOST}}
          username: ${{secrets.SSH_USERNAME}}
          password: ${{secrets.SSH_PASSWORD}}
          script: |
            cd apps/photography/worldwide-photography-client
            git pull origin $(git rev-parse --abbrev-ref HEAD)
            docker build -t worldwide-photography-client:0.1 .
            random_tag_name=$(cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w ${1:-32} | head -n 1)
            docker run --publish 8081:8081 --detach --name ${random_tag_name} worldwide-photography-client:0.1
            echo 'Deploy complete'
